@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');
@import "tailwindcss";


body {
  font-family: Poppins;
  overflow-x: hidden;
  width: 100%;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@theme {
  --font-pacifico: Pacifico, sans-serif;
  --font-geo: Geo, sans-serif;
  --animate-spin-slow: spin-slow 30s linear infinite;
}

@keyframes dropDown {
  0% {
    transform: rotate(-180deg) translateY(100px);
    opacity: 0;
  }

  100% {
    transform: rotate(-180deg) translateY(0);
    opacity: 1;
  }
}

.animate-drop-down-1 {
  animation: dropDown ease-out 0.5s both;
  transform-origin: center;
}

.animate-drop-down-2 {
  animation: dropDown ease-out 0.7s both;
  transform-origin: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn ease-out 0.3s both;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(14deg);
  }

  30% {
    transform: rotate(-8deg);
  }

  40% {
    transform: rotate(14deg);
  }

  50% {
    transform: rotate(-4deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.wave {
  display: inline-block;
  animation: wave 1.5s ease-in-out 1;
  /* 1 run only */
  transform-origin: 70% 70%;
  /* pivot around bottom right */
}